<p>検索結果</p>
<% if @items && @items.size > 0 %>
<table>
  <% @items.each do |item| %>

  <% if item[:type] == "photo" %>
      <% logger.debug(item) %>
    <% if item[:blog_name] %>
      <tr><td>Title: <%= item[:blog_name] %></td></tr>
    <% end %>

    <tr>

      <% if item[:photos] %>
        <% item[:photos][0][:alt_sizes].size.times { |i| %>
            <% if item[:photos][0][:alt_sizes][i][:width] == 500 %>
              <tr>
              <td><%= link_to(image_tag(item[:photos][0][:alt_sizes][i][:url], :size => "#{item[:photos][0][:alt_sizes][i][:width]}x#{item[:photos][0][:alt_sizes][i][:height]}", :alt => item[:photos][0][:alt_sizes][i][:title]), item[:photos][0][:alt_sizes][i][:url], :target => '_blank') %></td>
              </tr>
            <% end %>
        <% } %>
      <% end %>




      <% if item[:tags] %>
        <tr>
        <td>Tags:</td>
        <% item[:tags].each do |tag| %>
          <td><%= tag %></td>
        <% end %>
        </tr>
      <% end %>
    </tr>
  <% end %>


  <% end %>
</table>
<% end %>


